{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{Movies.image.url}}" width="300" height="300">
        </div>
        <div class="col-md-6">
            <h4>{{Movies.name}}</h4>
            {{Movies.year}}
            <h6>{{Movies.discription}}</h6>

            <a class="btn btn-warning" href="{% url 'movieapp:update' Movies.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' Movies.id %}">Delete</a>


        </div>


    </div>

</div>




{% endblock %}

